!!!
html
  head
    title= title
    
    script(src="bower_components/bootstrap/assets/js/html5shiv.js")
    script(src="bower_components/bootstrap/assets/js/respond.min.js")
    script(src='//swww.tokbox.com/webrtc/v2.0/js/TB.js')

    link(rel='stylesheet', href='bower_components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='bower_components/bootstrap/dist/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/css/site.css')
  body

    .navbar.navbar-default
      .navbar-header
          .navbar-brand OpenTok Test

    .container
      .row.well
        h1 OpenTok 3 room test
        .input-group
           span.input-group-addon
             @
           input(id="username", type="text", class="form-control", placeholder="Username", value="rick")
        span Move to: 
        .btn-group
          button.connect.btn.btn-default#room1 Union
          button.connect.btn.btn-default#room2 Management
          button.connect.btn.btn-default#room3 Negotiation
          button.video.btn.btn-default#video Video
          button.disconnect.btn.btn-default#disconnect Disconnect


        
      .row
        #room1.col-md-4.well
           h2#rooms room1
           #opentok
              #devicePanelContainer
              #publisherContainer
              #streamsContainer
        

    script(src="//code.jquery.com/jquery.js")
    script(src="bower_components/bootstrap/dist/js/bootstrap.min.js")
    script(src="js/opentok.js")
    script(src="js/opentokready.js")


